RewriteEngine On
RewriteRule ^project/our-completed-curtain-projects-in-bangladesh/?$ /curtaincanvas/project/ [R=301,L]
RewriteRule ^about/curtain-canvas-reviews/?$ /curtaincanvas/about/reviews/ [R=301,L]
